.form-register {
    background-color: white;
    border: solid 1px grey;
    border-radius: 10px;
    margin: 0;
    padding: 25px;
}
input {
    display: block;
    display: 100%;
    margin: 10px 0;
    padding: 7px;
    border: solid 1px grey;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}