<html>
    <head>
        <title>Войти в Личный кабинет</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/all_styles.css">
        <link rel="stylesheet" href="/static/css/login_styles.css">
    </head>
    <body>
        <div class="placeholder"></div>
        <div class="placehoder-form">
            <h1>FinManager</h1>
            <form class="form-login" method="post" action="/">
                <input type="text" name="mail" placeholder="Логин" />
                <input id="input-password" type="password" name="password" placeholder="Пароль" />
                <input class="button-special" type="submit" value="Войти" />
            </form>
            <form method="get" action="/register">
                <input class="button-special" type="submit" value="Зарегестрироваться" />
            </form>
        </div>
        <div class="placeholder"></div>
        <p class="author-name">Арина Зайцева</p>
    </body>
</html>