<html>
    <head>
        <title>Зарегестрироваться</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/all_styles.css">
        <link rel="stylesheet" href="/static/css/register_styles.css">
    </head>
    <body>
        <div class="placeholder"></div>
        <div class="placehoder-form">
            <h1>FinManager</h1>
            <form class="form-register" method="post" action="/register">
                <input type="text" name="name" placeholder="Имя" />
                <input type="text" name="surname" placeholder="Фамилия" />
                <input type="text" name="mail" placeholder="Логин" />
                <input id="input-password" type="password " name="password" placeholder="Пароль" />
                <input class="button-special" type="submit" value="Зарегестрироваться" />
            </form>
            <form method="get" action="/">
                <input class="button-special" type="submit" value="Вернуться" />
            </form>
        </div>
        <div class="placeholder"></div>
        <p class="author-name">Арина Зайцева</p>
    </body>
</html>